body {
    background-color: #efefef;
    padding: 30px;
}

.small-logo {
    font-size: 32px;
}

.logo {
    font-size: 108px;
}

a,
a:hover {
    color: #333;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 80px;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #999;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-icon {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}

.header-title {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.dashboard-container {
    padding: 20px;
}

.block {
    background-color: #cfcfcf;
    padding: 20px;
    border-radius: 14px;
    margin-bottom: 20px;
    text-align: left;
}

.block h2 {
    font-size: 24px;
    margin: 0;
    
}

.block .title {
    color: #777;
}

.block h3 {
    font-size: 18px;
    color: green;
    margin: 0;
}

.list-group {
    border-radius: 14px;
}

.list-group li {
    background-color: #cfcfcf;
    border-bottom: rgb(122, 122, 122);
}

.list-group .list-title {   
    font-size: 22px !important;
}


.last-container .block{
    height: 200px;
}